:root {
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color-scheme: light dark;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.2em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

.logo {
  height: 8.5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &.ts:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
  }

  &.rust:hover {
    filter: drop-shadow(0 0 2em #dea584aa);
  }

  /* WebAssembly */
  &.wa:hover {
    filter: drop-shadow(0 0 2em #654ff0aa);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
